*{
  font-family: "Lineto Brown Sub", "Lineto Brown Light Sub", Verdana, sans-serif;
}

#rahul{
 height: 200px;
 width: 100%;
 /* border: 2px solid black; */
}

#rahul > div > h1{
 font-size: 32px;
 font-family :sans-serif;
 font-weight: 530;
 text-align: center;
 margin-top: 80px;
}

#location > div {
 display: flex;
}

#location > div > h3,p{
 font-family: sans-serif;
}

#location > div > h3{
 font-weight: 520;
 margin-right:10px;
 margin-left: 34%;
}

#raju{
 margin-top: 25px;
 font-size: 12px;
}

#enterloc {
 margin-left: 34%;
 height: 30px;
 font-size: 15px;
 font-family: sans-serif;
 width: 250px;
}

#locbtn{
 height: 35px;
 border: 0px;
 width: 130px;
 font-weight: 520;
 font-size: 15px;
 color: white;
 background-color: rgb(14, 14, 14);
}


#papadiv{
 /* height: 600px; */
 width: 95%;
 margin: auto;
 /* border: 2px solid blue; */
 display: grid;
 grid-template-columns: repeat(4,1fr);
 gap: 20px;
}

#locimg{
 width: 100%;
}

#papadiv > div > h3{
 font-weight: 350;
 font-size: 18px;
}

#papadiv > div > p{
 font-size: 15px;
 font-family: "Lineto Brown Sub", "Lineto Brown Light Sub", Verdana, sans-serif;
}

hr{
 margin-top: 50px;
 margin-bottom: 30px;
 width: 90%;
}

#canada{
 display: flex;
}

#canada > div{
 margin-left: 5%;
}

#canada > div > h3 , p{
 font-weight: 350;
}

#popatlal{
  display: flex;
  padding-left: 12%;
  margin-top:120px;
}

#popatlal > div {
 padding:40px;
 height: 200px;
 margin-left: 20px;
 width: 35%;
 /* border: 2px solid #000000; */
 background-color:#f0f0e6;
}

#popatlal > div > h3{
 font-weight:500;

}


#popatlal > div > p {
 margin-top: 40px;
 color: #878b91;
}

#popatlal > div > a {
 /* margin-top: 80px; */
 color: black;
}

#nicche{
 margin-top: 80px;
  height: 350px;
  width:98%;
  /* border: 1px solid red; */
  padding: 20px;
}

#nicche > h4{
 font-weight: 545;
 font-size : 14px;;
}

#nicche > p{
 font-size: 12px;
 color: #878b91;
}

li{
 font-size: 12px;
}
